<!--<template>-->
    <!--<div>-->
        <!--<Datepicker v- model="customDate" format="dd-MM-yyyy"></Datepicker>-->
    <!--</div>-->
<!--</template>-->
<!--<script>-->
    <!--import Datepicker from 'vuejs-datepicker'-->
    <!--export default {-->
        <!--name:'app'-->
        <!--components:{-->
            <!--Datepicker-->
        <!--},-->
        <!--data:function(){-->
            <!--return {-->
              <!--customDate:new Date()-->
    <!--}-->
    <!--}-->
    <!--}-->
<!--</script>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    {{form.as_p}}
</div>

<form><input type="submit" value="Submit"></form>

</body>
</html>